@mixin flex-col {
    display: flex;
    flex-direction: column;
}

@mixin flex-col-center {
    @include flex-col();
    justify-content: center;
}

@mixin flex-col-center-center {
    @include flex-col-center();
    align-items: center;
}

// mixins des media queries
@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}