@import 'variables', 'base', 'mixins';

body {
    background-color: $background-color;
    -webkit-font-smoothing: antialiased;
}

header {
    @include flex-col-center-center();
    position: relative;
    z-index: 1;
    height: 63px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

    .back-arrow {
        @include flex-col-center-center();
        position: absolute;
        top: 17px;
        left: 17px;
        width: 30px;
        height: 30px;
        font-size: 22px;
        color: #353535;

        &--hide {
            display: none;
        }
    }

    .logo {
        width: 197px;
        height: 36px;
    }
}

.location {
    @include flex-col-center-center();
    height: 50px;
    background-color: #eaeaea;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 500;

    &__icon {
        margin-right: 17px;
    }
}

main {
    @include flex-col();
}

.container {
    @include flex-col-center();
    padding: 55px 20px 65px 20px;
    gap: 25px;

    &--white {
        background-color: #ffffff;
    }
}

.info-group {
    @include flex-col-center();
    padding: 50px 30px;
    gap: 25px;
    text-align: center;

    &__headline {
        @include flex-col();
        gap: 10px;
    }
}

.btn-container {
    width: max-content;
    margin: auto;

    a, &__btn {
        @include flex-col-center-center();
        position: relative;
        z-index: 1;
        height: 50px;
        padding: 0 19px;
        color: #ffffff;
        border: none;
        border-radius: 25px;
        background: linear-gradient(193.33deg, $primary-color -11.44%, $secondary-color 123.93%);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
        font-weight: 500;
        cursor: pointer;

        &--menu {
            width: 180px;
        }

        &:hover {
            &::after {
                opacity: 1;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(200.64deg, $primary-color -5.2%, $secondary-color 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
            border-radius: 25px;
            opacity: 0;
            z-index: -1;
            transition: opacity 300ms ease-out;
        }
    }
}

.favorite {
    @include flex-col-center-center();
    position: relative;
    width: 22px;
    font-size: 22px;
    cursor: pointer;

    .fa-heart {
        position: absolute;
    }

    &__unliked {
        transition: opacity 300ms;
        opacity: 1;
    }

    .favorite__liked {
        transition: opacity 300ms;
        opacity: 0;
        background: linear-gradient(193.33deg, $primary-color -11.44%, $secondary-color 123.93%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &:hover {
        .favorite__unliked {
            transition: opacity 300ms;
            opacity: 0;
        }

        .favorite__liked {
            transition: opacity 300ms;
            opacity: 1;
        }
    }
}

.restaurant-image {
    display: flex;
    height: 275px;
    margin-bottom: -40px;
    object-fit: cover;
}

.fonctionnement-list {
    @include flex-col();
    gap: 25px;
    // création d'un counter
    counter-reset: step;

    &__step {
        display: flex;
        align-items: center;
        position: relative;
        height: 73px;
        margin-left: 13px;
        padding: 0 33px;
        border-radius: 20px;
        background-color: $background-color;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
        font-weight: 500;

        // pour afficher counter et le ++
        &::before {
            counter-increment: step;
            content: counter(step);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: -13px;
            width: 24px;
            height: 24px;
            background-color: $primary-color;
            color: #ffffff;
            border-radius: 12px;
        }
    }

    &__step-icon {
        color: #7e7e7e;
        margin-right: 20px;

        &--primary-color {
            color: $primary-color;
        }
    }
}

.cards {
    @include flex-col();
    gap: 18px;

    &--menu {
        // pour contrer le <fieldset>, pour tronquer les textes
        min-inline-size: auto;
        gap: 12px;
        border: none;
    }

    .card {
        @include flex-col();
        position: relative;
        border-radius: 15px;
        background-color: #ffffff;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        overflow: hidden;

        &__img {
            height: 171px;
            width: 100%;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
        }

        &__badge-new {
            @include flex-col-center-center();
            position: absolute;
            top: 15px;
            right: 15px;
            width: 80px;
            height: 29px;
            border-radius: 2px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
            background-color: $tertiary-color;
            color: #008766;
            font-size: 14px;

            &--hide {
                display: none;
            }
        }

        &__content {
            display: flex;
            justify-content: space-between;
            flex: 1;
            padding: 16px 25px 16px 16px;
            overflow: hidden;

            &--menu {
                padding: 12px 15px;
            }
        }

        &__txt {
            @include flex-col();
            gap: 5px;
            overflow: hidden;
            margin-right: 12px;
        }

        &__title, &__subtitle {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &__title {
            font-size: 1.17em;
            font-weight: 700;
        }
    }
}

.menu {
    background-color: $background-color;
    padding: 32px 13px 40px 13px;
    gap: 40px;
    border-radius: 20px 20px 0 0;

    &__headline {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4px;
        color: #101010;

        &__title {
            font-family: $title-font-family;
            font-weight: 400;
            font-size: 28px;
        }

        &__favorite {
            padding: 0 15px;
            width: 24px;
            font-size: 24px;
        }
    }

    &__legend {
        // float: left; pour sortir <legend> du <fieldset>
        float: left;
        position: relative;
        z-index: 1;
        height: 27px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 300;

        // pour afficher la bordure sous le <legend>
        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 1px;
            width: 40px;
            border-bottom: 3px solid $tertiary-color;
        }
    }
    
    .cards .card {
        flex-direction: row-reverse;
        justify-content: space-between;
        cursor: pointer;
        position: relative;
    }

    .card input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    &__checkmark {
        @include flex-col-center-center();
        background-color: $tertiary-color;
        width: 60px;
        margin-right: -60px;
        display: flex;
        font-size: 24px;
        color: #ffffff;
        border-radius: 0 15px 15px 0;
        transform-origin: right 50%;
        transition: margin-right 300ms ease-in-out;
    }

    .card input:hover {
        & + .menu__checkmark {
            width: 60px;
            margin-right: 0px;
            transform-origin: right 50%;
            transition: margin-right 150ms ease-in-out;
        }
    }

    &__price {
        display: flex;
        align-items: flex-end;
        font-weight: 700;

        dd {
            display: none;
        }
    }
}

.footer {
    @include flex-col();
    gap: 16px;
    padding: 22px 25px;
    background-color: #353535;
    color: #ffffff;

    &__logo {
        width: 110px;
        height: 21px;
        filter: invert(92%) sepia(93%) saturate(32%) hue-rotate(195deg) brightness(108%) contrast(100%);
    }

    &__links {
        @include flex-col();
        gap: 5px;

        &__primary, &__secondary {
            @include flex-col();
            gap: 5px;
        }

        &__primary {
            font-weight: 500;

            &__icon {
                width: 12px;
                font-size: 13px;
                margin-right: 10px;
            }
        }
    }
}