* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a, a:link, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
  background-color: #f6f6f6;
  -webkit-font-smoothing: antialiased;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 63px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 768px) {
  header {
    height: 96px;
  }
}
header .back-arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 17px;
  left: 17px;
  width: 30px;
  height: 30px;
  font-size: 22px;
  color: #353535;
}
header .back-arrow--hide {
  display: none;
}
@media screen and (min-width: 768px) {
  header .back-arrow {
    top: 33px;
  }
}
header .logo {
  width: 197px;
  height: 36px;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #eaeaea;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 500;
}
.location__icon {
  margin-right: 17px;
}

main {
  display: flex;
  flex-direction: column;
}

.background-container--white {
  background-color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 55px 20px 65px 20px;
  gap: 25px;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 55px 35px 65px 35px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    margin: 0 auto;
  }
}

.info-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
  gap: 25px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .info-group {
    max-width: 634px;
    margin: 0 auto;
  }
}
.info-group__headline {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-container {
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}
.btn-container a, .btn-container__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 50px;
  padding: 0 19px;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
  font-weight: 500;
  cursor: pointer;
}
.btn-container a--menu, .btn-container__btn--menu {
  width: 180px;
}
.btn-container a:hover::after, .btn-container__btn:hover::after {
  opacity: 1;
}
.btn-container a::after, .btn-container__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
  opacity: 0;
  z-index: -1;
  transition: opacity 300ms ease-out;
}

.favorite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 22px;
  font-size: 22px;
  cursor: pointer;
}
.favorite .fa-heart {
  position: absolute;
}
.favorite__unliked {
  transition: opacity 300ms;
  opacity: 1;
}
.favorite .favorite__liked {
  transition: opacity 300ms;
  opacity: 0;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.favorite:hover .favorite__unliked {
  transition: opacity 300ms;
  opacity: 0;
}
.favorite:hover .favorite__liked {
  transition: opacity 300ms;
  opacity: 1;
}

.restaurant-image {
  display: flex;
  height: 275px;
  margin-bottom: -40px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .restaurant-image {
    height: 383px;
  }
}

.fonctionnement-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  counter-reset: step;
}
@media screen and (min-width: 768px) {
  .fonctionnement-list {
    width: 450px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement-list {
    flex-direction: row;
    width: auto;
    margin: 0;
  }
  .fonctionnement-list__step {
    width: 100%;
  }
}
.fonctionnement-list__step {
  display: flex;
  align-items: center;
  position: relative;
  height: 73px;
  margin-left: 13px;
  padding: 0 33px;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  font-weight: 500;
}
.fonctionnement-list__step::before {
  counter-increment: step;
  content: counter(step);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -13px;
  width: 24px;
  height: 24px;
  background-color: #9356dc;
  color: #ffffff;
  border-radius: 12px;
}
.fonctionnement-list__step-icon {
  color: #7e7e7e;
  margin-right: 20px;
}
.fonctionnement-list__step-icon--primary-color {
  color: #9356dc;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.cards--menu {
  min-inline-size: auto;
  gap: 12px;
  border: none;
}
@media screen and (min-width: 768px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px 50px;
  }
}
@media screen and (min-width: 1024px) {
  .cards {
    gap: 50px 100px;
  }
}
.cards .card {
  display: flex;
  flex-direction: column;
  flex: 1 0 40%;
  position: relative;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.cards .card__img {
  height: 171px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.cards .card__badge-new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  background-color: #99e2d0;
  color: #008766;
  font-size: 14px;
}
.cards .card__badge-new--hide {
  display: none;
}
.cards .card__content {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 16px 25px 16px 16px;
  overflow: hidden;
}
.cards .card__content--menu {
  padding: 12px 15px;
}
.cards .card__txt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  margin-right: 12px;
}
.cards .card__title, .cards .card__subtitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cards .card__title {
  font-size: 1.17em;
  font-weight: 700;
}
.cards article, .cards figure {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.menu {
  background-color: #f6f6f6;
  padding: 32px 13px 40px 13px;
  gap: 40px;
  border-radius: 20px 20px 0 0;
}
.menu__headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
  color: #101010;
}
.menu__headline__title {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 28px;
}
.menu__headline__favorite {
  padding: 0 15px;
  width: 24px;
  font-size: 24px;
}
.menu__legend {
  float: left;
  position: relative;
  z-index: 1;
  height: 27px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
}
.menu__legend::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 40px;
  border-bottom: 3px solid #99e2d0;
}
.menu .cards .card {
  flex-direction: row-reverse;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}
.menu .card input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.menu__checkmark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  width: 60px;
  margin-right: -60px;
  display: flex;
  font-size: 24px;
  color: #ffffff;
  border-radius: 0 15px 15px 0;
  transform-origin: right 50%;
  transition: margin-right 300ms ease-in-out;
}
.menu .card input:hover + .menu__checkmark {
  width: 60px;
  margin-right: 0px;
  transform-origin: right 50%;
  transition: margin-right 150ms ease-in-out;
}
.menu__price {
  display: flex;
  align-items: flex-end;
  font-weight: 700;
}
.menu__price dd {
  display: none;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 22px 25px;
  background-color: #353535;
  color: #ffffff;
}
.footer__logo {
  width: 110px;
  height: 21px;
  filter: invert(92%) sepia(93%) saturate(32%) hue-rotate(195deg) brightness(108%) contrast(100%);
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
}
.footer__links__primary {
  font-weight: 500;
}
.footer__links__primary__icon {
  width: 12px;
  font-size: 13px;
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */